@import "/reset.css";

*{
    box-sizing: border-box;
}

.container{
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}
body {
    background-color: #111;
    background-size: cover;
    background-position: center;
    /* display: grid;
    align-items: center;
    justify-content: center; */
    /* height: 100vh;
    margin: 0; */
    height: calc(var(--vh, 1vh) * 100)
}

.para{
  width: 600px;
}
p{
    color: #fff;
    font-family:sans-serif ;
    font-size: 20px;
}

.form{
    display: flex;
    gap:10px;
}
 


.row{
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width:700px; */
}


.hide{
    /* visibility: hidden; */
     position: absolute;
    height: 300px;
    width: 300px;
   background-color: #fff;
   border-radius: 12px;
   
   box-sizing: border-box;
   padding: 10px; 
   /* text-align: center; */
}

.button{
    display: flex;
    position: absolute;
    text-align: center;
    margin-left: 10px; 
}

.two{
    color: #111;
    font-size: 16px;
}

button {
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    color:#fff;
    font-size: 18px;
    color:#fff;
    font-size: 18px;
}
.show{
    /* margin-right: 10px; */
    width: 200px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.flex{
    display: flex;
}
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    /* margin-left: 40px; */
    margin-top: 15px;
  }
  
  /* The slider */
  .slider {
    position: absolute; 
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
     position: absolute; 
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .name{
    width: 80%;
  }

  .toggle{
    width: 20%;
    text-align: right;
  }

  .onload{
 visibility: hidden; 
height: 400px;
}

.three{
    visibility: hidden;
    height : 250px;
  } 
.settings{
    margin-left: 20px;
}

.text{
    color: transparent;
        text-shadow: 0 0 4px #fff;
}

span{
    color: red;
}
.answer{
  font-size: 24px;
  color: #fff;
}

@media (max-width:800px) {

  .para{
    width: 300px;
    font-size: 16px;
  }
}
